__pycache__/
*.py[cod]
*$py.class
venv/
.env

.nvim.lua
.netrwhist
dist/
build/

# Airflow
logs/
config/airflow.cfg
# MinIO / application data
data/

# PyCharm
.idea/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment variables / secrets
.env
.env.*

# OS
.DS_Store
Thumbs.db
